<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><%= @post.title %></h3>
        </div>
        <div class="panel-body">
            <%= @post.body %>
        </div>
    </div>
    <a href="/posts/<%= @post.id%>/edit" class="btn btn-primary">編集</a>
    <a href="/posts/<%= @post.id%>" data-method="delete" class="btn btn-danger">削除</a>
</div>